@model Taijitan.Models.LesmomentViewModels.LesmomentCreateViewModel

@{
    if (TempData.ContainsKey("error"))
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }
}

<h2>Maak lesmoment</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="MaakLesMoment">
            <fieldset class="col-md-12">
                <legend>Lesmoment</legend>
                <div class="form-group col-md-4">
                    <label asp-for="Datum" class="control-label"></label>
                    <input asp-for="Datum" class="form-control" />
                    <span asp-validation-for="Datum" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Starttijd" class="control-label"></label>
                    <input asp-for="Starttijd" class="form-control" />
                    <span asp-validation-for="Starttijd" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Eindtijd" class="control-label"></label>
                    <input asp-for="Eindtijd" class="form-control" />
                    <span asp-validation-for="Eindtijd" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <fieldset>
                        <legend>Gebruikers</legend>
                        <select multiple class="form-control" size="@Model.Gebruikers.Count">
                            @foreach (var gebruiker in Model.Gebruikers)
                            {
                                <option name="Gebruikers" value="@gebruiker.Gebruiker.Gebruikersnaam">@gebruiker.Gebruiker.Gebruikersnaam</option>
                            }
                        </select>
                    </fieldset>
                </div>
            </fieldset>
            <div class="form-group col-md-12 text-center">
                <input type="submit" value="Opslaan" class="btn btn-primary btn-lg" style="padding-left:4em;padding-right:4em;" />
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}