@model  Taijitan.Models.GebruikerViewModels.GebruikerEditViewModel

<h2>@ViewData["Title"]</h2>

<form method="post">
    <h3>@Model.Gebruikersnaam</h3>
    <div class="form-group">
        <label asp-for="Naam"></label>
        <input asp-for="Naam" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Voornaam"></label>
        <input asp-for="Voornaam" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Geboortedatum"></label>
        <input asp-for="Geboortedatum" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TelefoonNummer"></label>
        <input asp-for="TelefoonNummer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="Land"></label>
        <input asp-for="Land" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Postcode"></label>
        <input asp-for="Postcode" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Stad"></label>
        <input asp-for="Stad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Straat"></label>
        <input asp-for="Straat" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Nummer"></label>
        <input asp-for="Nummer" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>

