@{
    if (TempData.ContainsKey("error")) {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }
}

<div class="d-flex justify-content-between" style="padding-top: 30px">
    <div class="col-xs-4 col-sm-3 ">
        <a asp-controller="Gebruiker" asp-action="Index" class="btn btn-primary btn-lg">
            <img src="~/images/gebruiker.png" class="img-responsive img-circle border-dark">
            Gebruiker
        </a>
    </div>
    @*<div class="col-xs-4 col-sm-3 ">
            <a asp-controller="Lesmoment" asp-action="ToonActieveLesmomenten" class="btn btn-primary btn-lg">
                <img src="~/images/checkbox.png" class="img-responsive img-circle border-dark">
                Registreer aanwezigheid
            </a>
        </div>*@
    <div class="col-xs-4 col-sm-3 ">
        <a asp-controller="Lesmateriaal" asp-action="GraadOverzicht" class="btn btn-primary btn-lg">
            <img src="~/images/checkbox.png" class="img-responsive img-circle border-dark">
            Lesmateriaal
        </a>
    </div>
    @if (TempData["beheerder"].Equals(true)) {
        <div class="col-xs-4 col-sm-3 ">
            <a asp-controller="Gebruiker" asp-action="Logout" class="btn btn-primary btn-lg">
                <img src="~/images/checkbox.png" class="img-responsive img-circle border-dark">
                Keer terug
            </a>
        </div>
    }
    @*@{
            if (TempData["beheerder"].Equals(true))
            {
                <div class="col-xs-4 col-sm-3 ">
                    <a asp-controller="Home" asp-action="Logout" class="btn btn-primary btn-lg">
                        <img src="~/images/checkbox.png" class="img-responsive img-circle border-dark">
                        Keer terug
                    </a>
                </div>
            }
        }*@
</div>