@model IEnumerable<Taijitan.Models.Domain.Gebruiker>

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login">
    @foreach (var gebruiker in Model)
    {
        <input name="gebruiker" type="submit" value="@gebruiker.Gebruikersnaam" class="btn btn-primary btn-lg" style="padding-left:4em;padding-right:4em;text-align:left;width:100%;margin-bottom: 10px;" />
        <br />
    }
</form>

