@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{

    <div class="alert alert-danger mt-5" id="cookieConsent">
        <p>
            Gelieve cookies te accepteren om deze website optimaal te kunnen gebruiken.<br />
            Zonder deze cookies zullen verschillende features niet bruikbaar zijn!
        </p>
        <button type="button" class="btn btn-success m-0" data-cookie-string="@cookieString">Accept</button>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                location.reload();
            }, false);
        })();
    </script>
}