<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taijitan</title>

    <environment>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <!-- Nav Heading -->
    <nav class="navbar navbar-dark bg-primary container-fluid fixed-top">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="font-size: 2.4em">
            <img src="~/images/logo.png" width="60" height="60" class="d-inline-block align-top" />
            Taijitan
        </a>
        <partial name="_LoginPartial" />
    </nav>
    <partial name="_CookieConsentPartial" />
    <!-- Nav Heading -->

    @{
        if (TempData.ContainsKey("error"))
        {
            <div class="alert alert-danger" style="margin-top: 35px; margin-bottom: 0;">
                <b>@TempData["error"]</b>
            </div>
        }
    }
    @RenderBody()
    <!-- Footer -->
    <div class="footer-copyright text-center py-3">
        <hr />
        © 2019 Copyright:
        <a href="http://jiu-jitsu-gent.be/" target="_blank"> Taijitan</a>
    </div>
    <!-- Footer -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
