@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
    <span class="btn navbar-btn navbar-link text-light" style="font-size:1.4em;">Welkom @UserManager.GetUserName(User)!</span>
    <button type="submit" class="btn btn-link navbar-btn navbar-link text-light" style="font-size: 1.4em">
        Logout
        <img src="~/images/logout.png" style="height: 30px;" />
    </button>
</form>
}