@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container body-content">

    <h1 class="text-danger mt-5">Error</h1>
    <h2 class="text-danger">Er was een probleem bij het verwerken van je aanvraag.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Wat nu?</h3>
    <p>
        Probeer de aanvraag opnieuw op een later moment.<br />
        Indien deze error blijft gebeuren dient u contact op te nemen met de systeembeheerder.<br />
        Probeer hierbij de Request ID en een gedetaileerde beschrijving van de omstandigheden te geven.<br />

        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-primary btn-lg">
                Terug naar login
            </button>
        </form>
    </p>

</div>