@model IEnumerable<Taijitan.Models.Domain.Enums.Gradatie>

<fieldset>
    <h2>Overzicht graden</h2>
    <table class="table table-striped">
        <thead class="bg-primary">
            <tr class="bg-primary">
                <td colspan="2"><b>Graden</b></td>
            </tr>
        </thead>
        @foreach (var item in Model) {
            var graadNaam = item.ToString();
            var graadint = Convert.ChangeType(item, TypeCode.Int32);
            var parms = new Dictionary<string, string> { { "graad", graadint.ToString() } };
            <tr>
                <td>
                    <b>Naam: </b> @graadNaam
                </td>

                <td><a class="btn btn-default" asp-action="KiesGraad" asp-all-route-data="@parms">Kies graad</a></td>
            </tr>
        }
    </table>
    <div class="form-group col-md-12">
        <a asp-controller="gebruiker" asp-action="leeromgeving" class="btn btn-default btn-lg">Keer Terug</a>

    </div>
</fieldset>
