@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .login-container{
        height: 100px;
    }
    .login-box {
        background: #a0c8db;
        padding-top: 35px;
        padding-bottom: 35px;
        border-radius: 10px;
        box-shadow: #8fb3c4 5px 5px;
    }

    .login-box>.login-title{
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }
    .btn-login>button{
        width: 80%;
    }
    .btn-login{
        text-align: center;
        margin-top: 40px;
    }
</style>

<div class="container">
    <div class="login-container"></div>
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Welkom bij Taijitan!
            </div>
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Username">Gebruikersnaam</label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Wachtwoord</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group btn-login">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
