@model Taijitan.Models.LesmomentViewModels.LesmomentActiefViewModel

<h2>Actieve lesmomenten</h2>

@if (Model.Lesmomenten.Count() == 0)
{
    <p>Er zijn momenteel geen actieve lesmomenten...</p>
}
else
{
    <table class="table table-striped">
        <thead class="bg-primary">
            <tr class="bg-primary">
                <td><b>Datum</b></td>
                <td><b>Van</b></td>
                <td colspan="2"><b>Tot</b></td>
            </tr>
        </thead>
        @foreach (var item in Model.Lesmomenten)
        {
            <tr>
                <td>@item.StartTijd.ToString("dd/MM/yyyy")</td>
                <td>@item.StartTijd.ToString("HH:mm")</td>
                <td>@item.EindTijd.ToString("HH:mm")</td>           
                    <td><a class="btn btn-primary" asp-controller="Lesmoment" asp-action="Start" asp-route-id="@item.LesmomentId">Meld aanwezigheid</a></td>
            </tr>
        }
    </table>
}
<div class="form-group col-md-12 text-center">
    @* href='javascript:history.go(-1)' *@
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Keer Terug</a>
</div>
