<style>
    .d-flex>div{
        margin-bottom: 20px;
    }
</style>


<div class="d-flex justify-content-between" style="padding-top: 30px">
    <div class="col-xs-3 col-sm-2 ">
        <a asp-controller="Gebruiker" asp-action="Index" class="btn btn-primary btn-lg">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-group-512.png" class="img-responsive img-circle border-dark">
            Gebruiker
        </a>
    </div>
    <div class="col-xs-3 col-sm-2 ">
        <a asp-controller="Gebruiker" asp-action="Index" class="btn btn-primary btn-lg">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-group-512.png" class="img-responsive img-circle border-dark">
            Gebruiker
        </a>
    </div>
    <div class="col-xs-3 col-sm-2 ">
        <a asp-controller="Gebruiker" asp-action="Index" class="btn btn-primary btn-lg">
            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-group-512.png" class="img-responsive img-circle border-dark">
            Gebruiker
        </a>
    </div>
</div>