@{
    if (TempData.ContainsKey("error")) {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }
}

        <div class="d-flex justify-content-between" style="padding-top: 30px">
            <div class="card">
                <a asp-controller="Lesmoment" asp-action="BeheerLesmoment" class="btn btn-primary btn-lg">
                    <img src="~/images/lesmoment.png" class="img-responsive img-circle border-dark">
                    Beheer lesmomenten
                </a>
            </div>
            <div class="card">
                <a asp-controller="Lesmoment" asp-action="Aanwezigheden" class="btn btn-primary btn-lg">
                    <img src="~/images/checkbox.png" class="img-responsive img-circle border-dark">
                    Registreer aanwezigheid
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 ">
                <a asp-controller="Lesmoment" asp-action="Aanwezigen" class="btn btn-primary btn-lg">
                    <img src="~/images/checkbox.png" class="img-responsive img-circle border-dark">
                    Toon Aanwezigen
                </a>
            </div>
            @*<div class="col-xs-4 col-sm-3 ">
            <a asp-controller="Gebruiker" asp-action="Login" class="btn btn-primary btn-lg">
                <img src="~/images/gebruiker.png" class="img-responsive img-circle border-dark">
                Gebruiker
            </a>
        </div>*@
        </div>