<style>
    .header-image {
        margin-bottom: 120px;
    }

    .img-dashbboard {
        max-width: 200px;
    }

    .col-dashboard {
        text-align: center;
    }
</style>

<img class="img-fluid header-image" src="~/images/slide.jpg" />
<div class="container">
    <div class="row">
        <div class="col col-dashboard">
            <a asp-controller="Lesmoment" asp-action="BeheerLesmoment" class="btn btn-primary btn-lg">
                <img src="~/images/lesmoment.png" class="img-fluid img-dashbboard"><br />
                Beheer lesmomenten
            </a>
        </div>
        <div class="col col-dashboard">
            <a asp-controller="Lesmoment" asp-action="RegistreerAanwezigheid" class="btn btn-primary btn-lg">
                <img src="~/images/checkbox.png" class="img-fluid img-dashbboard"><br />
                Registreer aanwezigheid
            </a>
        </div>
        <div class="col col-dashboard">
            <a asp-controller="Lesmoment" asp-action="RegistreerAanwezigheid" class="btn btn-primary btn-lg">
                <img src="~/images/overview.png" class="img-fluid img-dashbboard"><br />
                Overzicht aanwezigheid
            </a>
        </div>
        <div class="col col-dashboard">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-primary btn-lg">
                    <img src="~/images/logout.png" class="img-fluid img-dashbboard"><br />
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>